@media only screen and (max-width: 320px){
    .row-footer{
        display: block;
    }
    .row-footer .col-4{
        max-width: 100%;
    }  
    /* product page */
    .main-content-product .row-list-product .col-3 {
        max-width: 50%;
        width: 50%;
    }
    /* about us page */
    .title-about, .introduce-description{
        margin: 0px 50px;
    }
    .main-content .box-grid .row {
        display: block;
    }
    .main-content .box-grid .row .col-lg-6 {
        flex: 100%; 
        max-width: 100%;
    }
}
@media only screen and (max-width: 360px){
    .row-footer{
        display: block;
    }
    .row-footer .col-4{
        max-width: 100%;
    }
    /* product page */
    .main-content-product .row-list-product .col-3 {
        max-width: 50%;
        width: 50%;
    }
    /* about us page */
    .title-about, .introduce-description{
        margin: 0px 50px;
    }
    .main-content .box-grid .row {
        display: block;
    }
    .main-content .box-grid .row .col-lg-6 {
        flex: 100%; 
        max-width: 100%;
    }
}
@media only screen and (max-width: 480px){
    .row-footer{
        display: block;
    }
    .row-footer .col-4{
        max-width: 100%;
    }
    /* product page */
    .main-content-product .row-list-product .col-3 {
        max-width: 50%;
        width: 50%;
    }
    /* about us page */
    .title-about, .introduce-description{
        margin: 0px 50px;
    }
    .main-content .box-grid .row {
        display: block;
    }
    .main-content .box-grid .row .col-lg-6 {
        flex: 100%; 
        max-width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .row-footer{
        display: block;
    }
    .row-footer .col-4{
        max-width: 100%;
    }
    /* product page */
    .main-content-product .row-list-product .col-3 {
        max-width: 33.3%;
        width: 33.3%;
    }
    /* about us page */
    .title-about, .introduce-description{
        margin: 0px 50px;
    }
    .main-content .box-grid .row {
        display: block;
    }
    .main-content .box-grid .row .col-lg-6 {
        flex: 100%; 
        max-width: 100%;
    }
}
@media only screen and (max-width: 800px){
    .row-footer{
        display: block;
    }
    .row-footer .col-4{
        max-width: 100%;
    }
    /* product page */
    .main-content-product .row-list-product .col-3 {
        max-width: 33.3%;
        width: 33.3%;
    }
    /* about us page */
    .title-about, .introduce-description{
        margin: 0px 50px;
    }
    .main-content .box-grid .row {
        display: block;
    }
    .main-content .box-grid .row .col-lg-6 {
        flex: 100%; 
        max-width: 100%;
    }
}